:root
{--primary-color: #FA7445;
--secondary-color: #292929;
--accent-color: #D82909;
--font-color: #F2F2F2;
--font-color2: #000000;

}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}


h1, h2, h3 {
    color: var(--font-color2);
    background-color: var(--primary-color);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    margin: 0;
    padding: auto;
    
}

