:root {
    --primary-color: #000;
    --secondary-color: #ccc;
    --background-color: #333;
    --text-color: #f4f4f4;
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

h1 {
    color: var(--background-color);
    font-size: 1rem;
    justify-content: center;
}

.site-title {

    font-size: 2rem;
    justify-content: center;
}

.temple-figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    max-width: fit-content;
    padding: 1rem;
    color: var(--primary-color);
}

header {
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    text-align: center;
    padding: 5px;
    border: 1px solid var(--secondary-color);
}

#menu {
    display: block;
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
    color: var(--text-color);
    padding: 10px;
}

#menu:hover {
    opacity: 0.8;
}

#menu::before {
    content: "☰";
}

nav {
    background-color: var(--background-color);
    margin: 0 auto;
    max-width: 200px;
    display: flex;
    justify-content: center;
    padding: 0.75rem;
    text-align: left;
    font-weight: 700;

}

.navigation {
    display: none;
    margin: 0 auto;
    max-width: 750px;

}


.navigation li {
    display: block;

}

.navigation a {

    text-decoration: none;
    color: var(--text-color);
    transition: 0.5s;

}

.navigation a:hover,
navigation a:active {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.navigation.show {
    display: block;
}

#menu.show::before {
    content: "✖";
}

.gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.temple-figure img {
    width: 100%;
    height: auto;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
}

footer {
    background-color: var(--background-color);
    display: grid;
    color: var(--text-color);
    text-align: center;
    padding: 5px;
    border: 1px solid var(--secondary-color);
}




@media (min-width: 40em) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .site-title {

        font-size: 2rem;
        justify-content: center;

    }

    h1 {
        color: var(--background-color);
        font-size: 2rem;
        justify-content: center;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
        align-items: center;

    }

    .temple-figure img {
        width: 100%;
        height: auto;
        border: 1px solid var(--secondary-color);
        border-radius: 5px;
    }

    .navigation {
        display: flex;
        justify-content: space-around;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
        padding: 0.5rem 1rem;
    }

    #menu {
        display: none;
    }
}