body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header,
main,
footer {
    max-width: 640px;
    padding: 1rem;
    margin: 1rem auto;
    border: 1px solid #ccc;
    background-color: rgb(80, 80, 204);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: azure;
}

@media screen and (min-width: 500px) {
    header{
        background-color: black;
        color: white;
    }
    main {
        grid-template-columns: 1fr 1fr;
    }
}
